.hero-container {
  height: 50rem !important;
  background: url("../../assets/image-logo/heroImage.png") no-repeat
    center/cover;
  color: white;
}
.movie-title {
  font-size: 5rem;
  font-weight: 500;
}
.hero-movie-details {
  width: 40rem;
}
/* .top-ten{
  height: auto!important;
} */
